<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="browserShellFactory" name="Factory for creating IBrowserShell instances" schema="schema/browserShellFactory.exsd"/>
	<extension point="com.google.gdt.eclipse.designer.hosted.hostedModeFactory">
		<factory class="com.google.gdt.eclipse.designer.hosted.tdt.HostedModeSupportFactory"/>
	</extension>
</plugin>
